$header-height: 5rem;
.row {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
$not-available-color: rgba(0, 0, 0, 0.62);

a, a:visited, a:hover, a:active {
  color: inherit;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  /* Add additional font formats and sources for cross-browser compatibility */
  /* e.g., woff, woff2, eot, svg */
}
