@import "App";

.calculator-wrapper {
}

.calculator-wrapper {
  width: 50vw;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.selected-toppings-wrapper {
  h3 {
    font-family: OpenSans-SemiBold, serif;
    margin-bottom: 0.8rem;
  }
  ul{
    margin-left: 1.25rem;
    flex-flow: wrap;
  }
}
.size-wrapper{
  margin-top: 1rem;
}
.dough-wrapper{
  margin-top: 0.5rem;
}
.static-selector-wrapper {
  h3 {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.49);
  }

  ol {
    align-content: center;
  }
}
.default-static-button{
  max-width: 200px;
  text-align: center;
  margin-bottom: 7px;
  border-radius: 22px;
  padding: 8px 0;
  margin-inline: 2px;
  border: 1px solid rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
  flex: 1 1 calc(33% - 14px);
  cursor: pointer;
}
.topping-tab-default{
  border: 0 solid rgb(0, 0, 0);
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  min-height: 0;
  z-index: 0;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 11px 31px;
  border-radius: 12px;
  max-width: 200px;
  padding: 20px 10px;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 9px;
  margin-bottom: 9px;
  min-width: 143px;
}
.generic-selected{
  $color: rgb(79, 79, 79);
  background-color: $color;
  color: #fff;
  border-color: $color;
}

.static-selected{
  @extend .default-static-button;
  @extend .generic-selected
}

.toppings-tabs {
  ol {
    margin-bottom: 31px;
    flex-flow: row wrap;
    display: flex;
  }
}

.topping-tab-selected{
  @extend .topping-tab-default;
  @extend .generic-selected;
}

.topping-category-wrapper {
  h4 {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 2rem;
    line-height: 36px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
  }
}

.displayNone{
  display: none;
}

.topping-items {
  flex-flow: row wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.topping-select-item {
  $image-height: 70%;
  $item-counter-height: 18%;
  $title-height: 100% - $item-counter-height - $image-height;
  position: relative;
  margin-inline: 1rem;
  box-sizing: content-box;
  display: flex;
  height: 12rem;
  justify-content: center;
  width: 11rem;
  margin-bottom: 1.35rem;

  .topping-select-item-img {
    position: absolute;
    box-sizing: border-box;
    max-width: 100%;
    max-height: $image-height;
  }

  .topping-select-title {
    position: absolute;
    height: $title-height;
    font-size: 100%;
    top: $image-height;
  }

  .item-counter {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: $item-counter-height;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(190, 190, 190);
    background: #ffffff;
    border-radius: 2rem;
    .sign {
      $svg-size: 1.2rem;
      align-items: center;
      display: flex;
      width: $svg-size;
      height: $svg-size;
      cursor: pointer;
    }
  }
}
.toppings-tabs{
  margin-top: 1rem;
}
.selected-topping-in-the-list{
  $height: 1.5rem;
  height: $height;
  background: none;
  align-items: center;
  justify-content: space-around;
  margin-right: 0.7rem;
  margin-bottom: 0.25rem;
  img{
    height: 85%;
    margin-right: 4px;
    cursor: pointer;
  }
  p{
    font-size:$height * 0.75;
    font-weight: 400;
    font-family: OpenSans-Regular, "Times New Roman", Arial, serif;
  }
}

.bottom-section-wrapper{
  display: grid;
  margin-right: 1rem;
}

.sum-wrapper{
  font-size: 2.5rem;
  justify-content: end;
  margin-bottom: 0.7rem;
}


.sum-title{
  font-size: 65%;
  align-self: center;
}
.sum-value{
  font-weight: 550;
}
.bottom-buttons-pair{
  width: 50%;
  justify-content: space-between;
  justify-self: end;
}

.bottom-button{
  height: 2.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  width: 48%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  cursor: pointer;
  p{
    font-size: 23px;
  }
}

.clear-bottom-button{
  background: rgb(227, 227, 227);
  p{
    color: #000;
  }
  &:hover{
    background-color: rgb(204, 200, 200);
  }
}

.add-to-cart-bottom-button{
  background-color: rgb(254, 0, 33);
  p{
    color: #fff;
  }
  &:hover{
    background-color: rgb(217, 3, 33);
  }
}