@import "App";

.image-calculator-pair{
  background: none;
  margin-top: $header-height + 2vh;
  margin-inline: 2rem;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.pizza-img{
  width: 50vw;
  height: fit-content;
}

