@import "App";

.main-body{
  background: none;
  margin-top: $header-height + 2vh;
  margin-inline: 2rem;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.pizza-img{
  width: fit-content;
  height: fit-content;
}

